.test_button{
    margin-top:5vh;
    color: white;
    background-color: blue;
    border-radius:5px;
    width: 150px;
}

.test_button:hover{
    background-color:rgb(3, 88, 116);
}

.page_container{
    display:flex;
    margin-top:5vh;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size:30px;
}

.login_window{
    margin-left:2vw;
    margin-right:2vw;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    text-align:center;
    width: 500px;
    height: 70vh;
    background-color: #362e8d;
    font-size: 60px;
    color:whitesmoke;
    padding:50px;
    border-radius:30px;
    overflow-x:hidden;
    overflow-y:auto;
}

.button_group{
    margin-top: 80px;
    flex-direction: row;
}

.action_button{
    font-size:30px;
    margin: 5px;
}

.title{
    justify-content: center;
}
