.page_container {
    display: flex;
    margin-top: 5vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.login_window {
    display: flex;
    flex-direction: column;
    width: 500px; 
    min-height: 380px; 
    background-color: #2c3e50;
    color: whitesmoke;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-top:30px;
}


.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}


.page_title {
    font-size: px;
    color: #fff;
    margin: 0;
    display: flex;
    gap: 5px; 
}


.title_part {
    display: inline-block;
}


.account_radio {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 10px;
}


.register_form {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    width: 100%;
    max-width: 400px; 
    justify-items: center; 
}


.input {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    background-color: #fff;
    color: #333;
    text-align: center;
}


.password_field {
    grid-column: span 2; 
}

.select_field, .register_button {
    grid-column: span 2; 
    width: 100%; 
    justify-self: center;
}


.register_button {
    background-color: #ffcc00;
    color: #333;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    text-align: center;
}

.register_button:hover {
    background-color: #ffdb4d;
}



.buttons_wrapper {
    position:relative;
    display: flex;
    justify-content: center;
    align-items:center;
    left:100px;
    gap: 10px;
    margin-top: 20px; 
    margin-bottom:20px;
  }
  
  .green_button {
    background-color: #4caf50; 
    color: white;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .green_button:hover {
    background-color: #45a049;
  }
  
  .back_button {
    background-color: #999;
    font-weight: bold;
  }
  
  .back_button:hover {
    background-color: #777;
  }
  